.avatar {
  grid-area: image;
  display: block;
  object-fit: cover;
  min-width: 120px;
  min-height: 120px;
  width: 100%;
  height: 100%;

  border-radius: 50%;
  transition: opacity 0.9s ease-out 0s;
  cursor: pointer;
}

.avatar:hover {
  opacity: .2;
}

@media screen and (min-width: 768px) {
  .avatar {
    min-width: 140px;
    min-height: 140px;
    justify-self: start;
  }
}

@media screen and (min-width: 1280px) {
  .avatar {
    min-width: 120px;
    min-height: 120px;
  }
}
