.places__delete-button {
  position: absolute;
  background: center / contain no-repeat url('../../../images/Trash.svg');
  top: 20px;
  right: 20px;
  min-width: 19px;
  min-height: 19px;
  z-index: 1;
}
