.popup__modal-window_type_image {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  max-width: 75vw;
  max-height: 300px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 425px) {
  .popup__modal-window_type_image {
    max-height: 75vh;
  }
}

@media screen and (min-width: 1024px) {
  .popup__modal-window_type_image {
    min-height: 540px;
    min-width: 433px;
  }
}
